@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-img {
  background-image: url('../src/assets/pic.png');
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
}
